doctype html
html
  head
    title= BBCall
    link(rel='stylesheet',href='/css/bbcall.css')
  body
    if result && result.status == 0
      .message 傳送成功 :))
    .formWrapper
      form(method="POST")
        .inputWrapper
          label
            span 您的大名：
            input(type="text",name="sender")
        .inputWrapper
          label
            span 訊息內容：
            input(type="text",name="message")
        .inputWrapper
          .submitWrapper
            label
              .submit 送出訊息
              input(type="submit")
